<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启Spring注解-->
    <context:annotation-config/>
    <!--开启Spring MVC注解-->
    <mvc:annotation-driven/>
    <!--开启自动扫描装配-->
    <context:component-scan base-package="pers.hanchao.myssm.*"/>

    <!--校验-->
    <!--注册校验驱动-->
    <mvc:annotation-driven validator="validator"/>
    <!--校验工厂-->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <!--校验消息源-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <!--指向message.properties文件-->
        <property name="basename" value="message"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="cacheSeconds" value="60"/>
    </bean>

    <!--静态资源配置:js/css等等，缓存1年(即 : 31536000秒)-->
    <mvc:resources mapping="/static/**" location="/static/" cache-period="31536000"/>

    <!--默认的视图解析器(这里是jsp)-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="contentType" value="charset=utf-8"/>
        <property name="order" value="10"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>